#wrapper {
  padding: 2rem;
}

.menu-toggle {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 1);
  line-height: 50px;
  z-index: 999;
}

/* .uxSection {
  padding-top: 0;
}

.photographySection {
  padding-top: 0;
}

.gallerySection {
  padding-top: 2rem;
} */

.galleryContainer {
  max-width: 1600px;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #ced4da !important;
}

.projectHeadings {
  font-size: 1.5rem !important;
}
