#wrapper {
  padding: 2rem;
}

.menu-toggle {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52,58,64,1);
  line-height: 50px;
  z-index: 999;
}

.img-fluid.logo-image {
  /*left: 1rem;*/
  /*top: 1rem;*/
}

